.container {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
  z-index:1;
}

body {
  background-color: black;
}

.responsive-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.responsive-video {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#load {
  position: absolute;
  top: 10%;
  right: 48%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 40%;
  height: auto;
  z-index: 1;
}

#video {
  position: absolute;
  top: 5%;
  left: 44%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

#cv,
#mail {
  position: absolute;
  bottom: 20px;
  left: 35%;
  cursor: pointer;
  width: 30%;
  height: auto;
}

#hand {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 0;
  right: 0;
  margin-right: -65%;
  padding-right: 15px;
  overflow: hidden;
  background-color: transparent;
}

 #button1 {
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
  }

  #button2 {
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
  }

  #button3 {
    position: absolute;
    bottom: 90px;
    left: 20px;
    cursor: pointer;
    width: 100px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
  }

  #button4 {
    position: absolute;
    top: 90px;
    right: 20px;
    cursor: pointer;
    width: 100px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
  }


/* Media queries for responsiveness */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 20px;
    z-index: 0;
    transform: scale(1.2);
  }
  #video-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    transform: scale(1.2);
  }
  #video {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    z-index: -1;
  }
   #load {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    z-index: 0;
  }

  #cv,
  #mail {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 80%;
    transform: scale(1.2);
    height: auto;
  }


  #button1 {
    position: absolute;
    top: 20%;
    right: 20%;
    transform: scale(1.2);
    cursor: pointer;
  }

  #button2 {
    position: absolute;
    top: 40%;
    right: 20%;
    transform: scale(1.2);
    cursor: pointer;
  }

  #button3 {
    position: absolute;
    bottom: 40%;
    left: 20%;
    transform: scale(1.2);
    cursor: pointer;
  }

  #button4 {
    position: absolute;
    bottom: 40%;
    left: 40%;
    transform: scale(1.2);
    cursor: pointer;
  }
}
