  body {
    background-color: black;
    overflow: hidden;

  
  .container {
    position: relative;
    margin: 0 auto;
    padding: 3%;
    box-sizing: border-box;
    background-color: black;
    z-index:1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .responsive-image-mobile {
    display: none;
  }
  
  .responsive-image {
    display: block;
    top: 25%;
    right: 48%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .responsive-video {
    display: block;
    top: 25%;
    right: 49%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  #load {
    position: absolute;
    top: 47%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 40%;
    height: auto;
    z-index: 2;
  }

  #Couch {
  display: none;
  }
  
  #video {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 100%;
    height: auto;
    z-index: -1;
  }

  
  #cv {
      position: absolute;
      top: 63%;
      left: 25%;
      cursor: pointer;
      width:25%; /* Adjust the width as needed */
      height: 15%; /* Adjust the height as needed */
  }
  #mail {
      position: absolute;
      top: 60%;
      right: 25%;
      cursor: pointer;
      width: 25%; /* Adjust the width as needed */
      height: 15%; /* Adjust the height as needed */
      z-index: 2;
  }
  
  #hand {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 10%;
    right: -15%;
    margin-right: -65%;
    padding-right: 10%;
    background-color: transparent;
  }
  
   #button1 {
      position: absolute;
      top: 39%;
      right: 36%;
      cursor: pointer;
      width: 4%; /* Adjust the width as needed */
      height: 4%; /* Adjust the height as needed */
      transform: translate(50%, -50%);
      z-index: 2;
      
    }
  
    #button2 {
      position: absolute;
      top: 48%;
      right: 36%;
      cursor: pointer;
      width: 4%; /* Adjust the width as needed */
      height: 4%; /* Adjust the height as needed */
      transform: translate(50%, -50%);
      z-index: 2;
    }
  
    #button3 {
      position: absolute;
      top: 70%;
      left: 33%;
      cursor: pointer;
      width:11%; /* Adjust the width as needed */
      height: 10%; /* Adjust the height as needed */
      z-index: 2;
    }
  
    #button4 {
      position: absolute;
      top: 73%;
      right: 25%;
      cursor: pointer;
      width: 25%; /* Adjust the width as needed */
      height: 6%; /* Adjust the height as needed */
      z-index: 2;
    }

}

/* Media queries for responsiveness */
@media (max-width: 767px){
html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}
  
  .container {
    max-width: 100%;
    padding: 20px;
    z-index: 0;
    overflow: hidden;
  }
  
   /* .responsive-video {
    display: block;
    top: 25%;
    right: 49%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }*/
  
   /* .responsive-image {
    display: block;
    top: 25%;
    right: 48%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  } */
  
 /* .responsive-image-mobile {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 100%; 
    width: 100%;
    height: auto;
  } */

    /* #Couch {
    position: absolute;
    bottom: 10%; 
    transform: translate(-50%, -50%); 
    max-width:100%;
    width: 100%;
    z-index: -1;
    transform: scale(0.4);
  } */ 
  
    .responsive-image-mobile, .responsive-image, #load, #video,#hand, #mail, #cv, #button4, #button3 {
    display: none;
  }

}
